@keyframes rainbow {
   0% {
      color: #ff6565;
   }

   20% {
      color: #ffc34a;
   }

   40% {
      color: #ffff50;
   }

   60% {
      color: #4dff4d;
   }

   80% {
      color: #4545ff;
   }

   100% {
      color: #ca61ff;
   }
}

.rainbow-text {
   animation: rainbow 20s infinite alternate;
}

.golden-text {
   background-image: url('../assets/golden.gif');
   background-size: cover;
   color: transparent;
   -webkit-background-clip: text;
   background-clip: text;
}