@keyframes rainbow {
   0% {
      color: #ff8484;
   }

   20% {
      color: #ffcd69;
   }

   40% {
      color: #f8f86f;
   }

   60% {
      color: #76ff76;
   }

   80% {
      color: #7373ff;
   }

   100% {
      color: #d683ff;
   }
}

.rainbow-text {
   animation: rainbow 2s infinite alternate;
}

.golden-text {
   background-image: url('../assets/golden.gif');
   background-size: cover;
   color: transparent;
   -webkit-background-clip: text;
   background-clip: text;
}