/* src/color.css */
@import 'tailwindcss/tailwind.css';

:root {
   --color-bg-light: #f9fafb;
   --color-bg-dark: #1f2937;
   --color-text-light: #1f2937;
   --color-text-dark: #f9fafb;
   --color-primary: #3b82f6;
   --color-secondary: #6366f1;
   --color-accent: #ec4899;
   --color-bg-tile-light: #ffffff;
   --color-bg-tile-dark: #2d3748;
   --color-text-tile-light: #1f2937;
   --color-text-tile-dark: #f9fafb;
}

body {
   background-color: var(--color-bg-light);
   color: var(--color-text-light);
   transition: background-color 0.3s, color 0.3s;
   font-family: 'Poppins', sans-serif;
}

.p-4 {
   padding: 1rem;
}

.rounded-md {
   border-radius: 0.5rem;
}

.shadow-md {
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar {
   background-color: var(--color-bg-dark);
   color: var(--color-text-dark);
}

.h-112 {
   height: 36rem
   ;
}